.speech {
    font-family: Arial, sans-serif;
    font-size: 16px;
    color: black;
}

.song {
    font-family: Georgia, serif;
    font-size: 18px;
    color: black;
    font-style: italic;
    margin-left: 40px;
}

.direction {
    font-family: Verdana, sans-serif;
    font-size: 14px;
    color: black;
    background-color: #f2f2f2;
    padding: 4px;
}

.direction:hover {
    background-color: black;
    color: white;
}

.name {
    font-family: "Trebuchet MS", sans-serif;
    font-size: 20px;
    color: black;
    font-weight: bold;
}

.ruth {
    color: darkblue;
}

.frederic {
    color: darkred;
}

.chorus {
    color: purple;
}

.girls {
    color: teal;
}
